<div class="row" style="width: 100.81%;">
    <aside class="col-lg-3" style="width: 335px;">
        <admin-pharmacie-sidebar></admin-pharmacie-sidebar>
    </aside>
    <main class="col-lg-9" style="min-height: 100vh;">

        <div class="container mt-4">
            <div class="row">

                <div class="col-sm-6 col-md-4">
                    <div class="div-box">
                        <h3 class="User-name"><strong>Day Pharmacy</strong></h3>
                        <img style='width:250px;height:250px'  src='/../assets/img/phar.jpg'/>
                        <h4 class="designation"> Available Pharmacies: <span class="badge badge-pill badge-primary" style="color: black;font-weight: 500;">{{availability.DayPharmacies}}</span></h4>
                    </div>
                </div>

                <div class="col-sm-6 col-md-4">
                    <div class="div-box">
                        <h3 class="User-name"><strong>Night Pharmacy</strong></h3>
                         <img style='width:250px;height:250px'  src='/../assets/img/phar.jpg'/>
                         <h4 class="designation"> Available Pharmacies: <span class="badge badge-pill badge-primary" style="color: black;font-weight: 500;">{{availability.NightPharmacies}}</span></h4>
                    </div>
                </div>

                <div class="col-sm-6 col-md-4">
                    <div class="div-box">
                         <h3 class="User-name"><strong>Parapharmacy</strong></h3>
                         <img style='width:250px;height:250px'  src='/../assets/img/phar.jpg'/>
                         <h4 class="designation"> Available Parapharmacies: <span class="badge badge-pill badge-primary" style="color: black;font-weight: 500;">{{availability.Parapharmacies}}</span></h4>
                    </div>
                </div>

               

            </div>
        </div>

    </main>
</div>